@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h1>Distributed Calculator</h1>
    <p>In this project, we are building a distributed system. This system has a coordinator component (this site) and many workers that process individual jobs.</p>
    <p>In the first iteration, the workers will be processing math problems and returning the results to the coordinator. Once we have mastered that, we expect to have them to much more challenging jobs.</p>
    <p>The ivory tower architects have spent the last 14 month developing this coordinator and they are now ready for you and your team to start building one of the many workers.</p>
</div>