@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <style type="text/css">
        .registration-form input { width: 500px; }
    </style>
}

<div>
    <h1>Distributed Calculator - Worker</h1>
    <p>In this project, we are building a distributed system. This system has a coordinator component (this site) and many workers that process individual jobs.</p>
</div>

<div class="registration-form">
    <form method="post" action="/register">
        <label for="WorkerId">WorkerId</label> <input type="text" id="WorkerId" name="WorkerId" value="@Guid.NewGuid()"/><br/>
        <label for="TeamName">Team Name</label> <input type="text" id="TeamName" name="TeamName" value="Red Team"/><br/>
        <label for="CreateJobEndpoint">CreateJob Endpoint</label> <input type="text" id="CreateJobEndpoint" name="CreateJobEndpoint" value="http://192.168.86.48:6010/CreateJob"/><br/>
        <label for="ErrorCheckEndpoint">ErrorCheck Endpoint</label> <input type="text" id="ErrorCheckEndpoint" name="ErrorCheckEndpoint" value="http://192.168.86.48:6010/ErrorCheck"/><br/>
        <button type="submit">Register</button>
    </form>
</div>